html, body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    background: black;
}

#logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: sticky;
    z-index: 1000;
    padding-top: 0;
    margin-top: 0;
}

#logo-svg{
    width: 800px;
}

#purple-grouped{
    transition: fill 0.3s ease, transform 0.3s ease, opacity 0.5s ease;
    fill: url(#neonGradient);
}

#nightlife-grouped{
    fill: whitesmoke;
}

@keyframes animateGradient {
    0% {
        stop-color: #FF00FF;
        opacity: 1;
    }
    25% {
        stop-color: #0d00ff;
        opacity: 0.2;
    }
    50% {
        stop-color: #FF0000;
        opacity: 1;
    }
    75%{
        stop-color: #0d00ff;
        opacity: 0.2;
    }
    100%{
        stop-color: #FF00FF;
        opacity: 1;
    }
}

@keyframes animateGradient2 {
    0% {
        stop-color: #FF6600;
    }
    25% {
        stop-color: #FFFF00;
    }
    50% {
        stop-color: #FF00FF;
    }
    75% {
        stop-color: #FFFF00;
    }
    100% {
        stop-color: #FF6600;
    }
}

@keyframes animateGradient3 {
    0% {
        stop-color: #ffffff;
    }
    50% {
        stop-color: #000000;
    }
    100% {
        stop-color: #ffffff;
    }
}

#neonGradient stop{
    animation: animateGradient 5s linear infinite;
}

.neonGradient2 {
    animation: animateGradient2 5s linear infinite;
}

.neonGradient3 {
    animation: animateGradient3 5s linear infinite;
}

@keyframes thump{
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.027);
    }
}

.thumping{
    animation: thump 2s infinite;
}
